<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/capturexs"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplicationLogin"
        tools:targetApi="31">
        <activity
            android:name=".Driver.DriverOrders"
            android:exported="false" />
        <activity
            android:name=".Driver.DloginActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.AddFoodActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.AdOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminLoginActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminLogin"
            android:exported="false" />
        <activity
            android:name=".DetailsActivity"
            android:exported="false" />
        <activity
            android:name=".OrdersActivity"
            android:exported="false" />
        <activity
            android:name=".aboutus"
            android:exported="false" />
        <activity
            android:name=".profile"
            android:exported="false" />
        <activity
            android:name=".orders"
            android:exported="false" />
        <activity
            android:name=".pendingorder"
            android:exported="false" />
        <activity
            android:name=".FinalPage"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".resgistration"
            android:exported="false" />
        <activity
            android:name=".Branches"
            android:exported="false" />
        <activity
            android:name=".logindash"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>